<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>RavenDB Demo</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <style>
        body { margin-top: 20px; }
        .post { padding-bottom: 16px;}
        .label { margin-right: 4px; }
        .label a { color: white;text-decoration: none; }
    </style>
</head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()
    </body>
</html>
